In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
def women_ranking(url):
    
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')
    players = []
    for i in soup.find_all('td', class_ = 'table-body__cell rankings-table__name name', limit = 9):
        players.append(i.text.strip('\n'))


    a = soup.find('div', class_ = 'rankings-block__banner--name-large').text
    players.insert(0,a)

    team = []
    for i in soup.find_all('span', class_ = 'table-body__logo-text', limit = 9):
        team.append(i.text)
    b = soup.find('div', class_ ='rankings-block__banner--nationality').text.strip('\n')
    team.insert(0,b)

    ratings = []
    for i in soup.find_all('td', class_ = 'table-body__cell rating', limit = 9):
        ratings.append(i.text)
    c = soup.find('div', class_ = 'rankings-block__banner--rating').text
    ratings.insert(0,c)
    
    ind = []
    for i in range(1,11):
        ind.append(i)

    Women_ranking = pd.DataFrame({'Player': players, 'Team': team, 'Ratings':ratings}, index = [1,2,3,4,5,6,7,8,9,10])

    return Women_ranking

In [3]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
ODI_Women_ranking = women_ranking(url)
ODI_Women_ranking

                 Player Team Ratings
1          Alyssa Healy  AUS     762
2           Beth Mooney  AUS     754
3       Laura Wolvaardt   SA     732
4        Natalie Sciver  ENG     731
5           Meg Lanning  AUS     717
6      Harmanpreet Kaur  IND     716
7       Smriti Mandhana  IND     714
8        Rachael Haynes  AUS     680
9   Chamari Athapaththu   SL     655
10    Amy Satterthwaite   NZ     641